.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #f6f6f6;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-bottom: 25px;
  min-width: 0;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xhsS {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 920px;
  max-width: 100%;
  align-self: stretch;
  background: #eaeaea;
  padding-top: 0px;
  left: auto;
  top: 0px;
  right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhsS {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__o0Xt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 0px;
  min-width: 0;
  padding: 8px 10px 10px;
}
.img__aA2H {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img__aA2H > picture > img {
  object-fit: cover;
}
.img__aA2H > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__l1GHc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l1GHc {
    padding-bottom: 0px;
    padding-top: 8px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 20px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 5 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 7 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 6 / 12);
  }
}
.column__cGcZq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cGcZq {
    padding-right: 0px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
}
.img__fGtp5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  height: 175px;
  margin-left: 297px;
  flex-shrink: 0;
  border-radius: 10px;
}
.img__fGtp5 > picture > img {
  object-fit: cover;
}
.img__fGtp5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fGtp5 {
    align-self: flex-start;
    width: 170px;
    margin-left: 0px;
  }
}
.column__nTBu0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nTBu0 {
    padding-bottom: 0px;
  }
}
.text__op1Z7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  font-weight: 800;
  color: #000000;
  padding-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__op1Z7 {
    display: none;
  }
}
.text___8D1YK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8D1YK {
    display: none;
  }
}
.text__u1WhW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u1WhW {
    display: block;
  }
}
.text__vJdSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vJdSs {
    display: block;
  }
}
.text___5XdCo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5XdCo {
    font-size: 9px;
    font-weight: 600;
  }
}
.freeBox__ysbXk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px 300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ysbXk {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__a3MCw {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-self: center;
  min-width: 0;
  padding: 6px 0px 63px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a3MCw {
    margin-right: 0px;
    align-self: center;
    width: 85%;
    position: relative;
    left: auto;
    top: auto;
  }
}
.button__jeVfv {
  position: absolute;
  width: 250px;
  height: 50px;
  color: #ffffff;
  background: #f70000;
  text-align: center;
  padding-top: 2px;
  padding-right: 0px;
  left: 0px;
  top: 8px;
  z-index: 1;
  right: auto;
  margin-right: 0px;
  margin-left: 230px;
  display: block;
  border-radius: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jeVfv {
    left: 51px;
    top: 13px;
    margin-right: 0px;
    margin-left: 0px;
    display: block;
  }
}
.freeBox__ugJYb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 675px;
  height: 460px;
  max-width: 100%;
  background: #ffffff;
  padding-top: 50px;
  padding-bottom: 0px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  margin: 20px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugJYb {
    padding-bottom: 52px;
  }
}
.text__o4C3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  padding-top: 40px;
  min-width: 0;
}
.text__qDwa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
  min-width: 0;
}
.textInput__p474A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 50px;
}
.svg___9QvN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__saY0E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput___0TAi9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 15px;
}
.svg__an9V4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fmJpS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__pWaS5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 15px;
}
.svg__zJoZz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pdsJ0 {
  font-size: 20px;
}
.svg__vyOmG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lCs17 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 25px;
  text-align: center;
  color: #666666;
  font-size: 12px;
  padding-top: 10px;
  min-width: 0;
}
.freeBox__dEoA {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  align-self: center;
  background: #ffffff;
  min-width: 0;
  display: none;
  padding: 50px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEoA {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img___9YjWs {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img___9YjWs > picture > img {
  object-fit: cover;
}
.img___9YjWs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
