.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  background: #f6f6f6;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
}
.head___2TJbn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__kX152 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kX152 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img___3Hkyi {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img___3Hkyi > picture > img {
  object-fit: cover;
}
.img___3Hkyi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___6Svqf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__um87Q {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__um87Q > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__um87Q > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__um87Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background: #fffefe;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__um87Q > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__lnI4 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lnI4 {
    display: flex;
  }
}
.link___7Jrko {
  position: relative;
  display: flex;
}
.img__bmaGl {
  object-fit: cover;
  max-width: 100%;
  width: 266px;
  flex-shrink: 0;
  display: none !important;
}
.img__bmaGl > picture > img {
  object-fit: cover;
}
.img__bmaGl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bmaGl {
    display: inline-block !important;
  }
}
.column__qZwpR {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qZwpR {
    display: none;
  }
}
.freeBox__eiUyg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 15px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eiUyg {
    display: none;
  }
}
.columns__xMkj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  padding-left: 8px;
  padding-right: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__xMkj > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__xMkj > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__xMkj > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMkj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xMkj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rA1Hw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 5px 5px 5px 150px;
}
@media (max-width: 1440px) {
  .column__rA1Hw {
    padding-left: 0px;
  }
}
@media (max-width: 1024px) {
  .column__rA1Hw {
    padding-left: 2px;
  }
}
.text__gWvpK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 353px;
  font-style: italic;
  font-size: 16px;
  color: #0a0a0a;
  font-weight: 400;
  padding-top: 15px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .text__gWvpK {
    max-width: 353px;
    width: 100%;
    min-width: 0;
  }
}
.column__ekYKj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 5px;
}
.link__qFsy {
  position: relative;
  display: flex;
}
.img___72MUb {
  object-fit: cover;
  max-width: 100%;
  width: 266px;
  flex-shrink: 0;
}
.img___72MUb > picture > img {
  object-fit: cover;
}
.img___72MUb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___72MUb {
    width: 500px;
    flex-shrink: 0;
  }
}
.column__c4A2J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 5px 35px 5px 5px;
}
@media (max-width: 1024px) {
  .column__c4A2J {
    padding-right: 40px;
  }
}
.link__sn8Lk {
  background: var(--token-N4TLOIIXy);
  position: relative;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  max-width: 203px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 10px 26px 10px 31px;
}
.freeBox__kUzNs {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kUzNs {
    display: flex;
  }
}
.columns__lRlcp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lRlcp > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lRlcp > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lRlcp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lRlcp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ykYIw {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ykYIw {
    display: none;
  }
}
.columns___8Xmd1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___8Xmd1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___8Xmd1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Xmd1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Xmd1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tli1L {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tli1L {
    display: flex;
  }
}
.column__xm0Yd {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xm0Yd {
    display: flex;
  }
}
.column__wvvO5 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wvvO5 {
    display: none;
  }
}
.columns__irRgs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__irRgs > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__irRgs > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__irRgs > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__irRgs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__irRgs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cQPe4 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cQPe4 {
    display: none;
  }
}
.columns___0Menr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___0Menr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___0Menr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Menr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0Menr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jGp2P {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jGp2P {
    display: none;
  }
}
.column__sffYy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sffYy {
    display: none;
  }
}
.column__yfapz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yfapz {
    display: none;
  }
}
.column__v4Y1J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__v4Y1J {
    display: none;
  }
}
.columns___7SEqV {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___7SEqV > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7SEqV > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7SEqV {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7SEqV > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xGtwc {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xGtwc {
    display: flex;
  }
}
.freeBox__eopBj {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 5px;
}
.freeBox__qMx9Q {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qMx9Q {
    display: flex;
  }
}
.text__hS6RL {
  position: relative;
  width: 208px;
  height: auto;
  max-width: 800px;
  margin-right: 0px;
  text-align: left;
  margin-left: 0px;
  align-self: flex-start;
  font-style: normal;
  color: #000000;
  font-size: 16px;
  display: none;
  padding: 10px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hS6RL {
    display: block;
  }
}
.freeBox__lrEg0 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lrEg0 {
    display: flex;
  }
}
.link__cmcpk {
  position: relative;
  align-self: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fafafa;
  background: #1f7926;
  font-size: 15px;
  display: none;
  border-radius: 10px;
  padding: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cmcpk {
    display: block;
  }
}
.freeBox__o3FXp {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o3FXp {
    display: none;
  }
}
.freeBox__t0XxM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: #ffffff;
  align-self: auto;
  padding-right: 0px;
  border-radius: 30px;
  margin: 50px 200px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t0XxM {
    padding-left: 12px;
    padding-bottom: 10px;
    height: auto;
    margin: 20px;
  }
}
.heroSubHeadline {
  width: 750px;
  max-width: 100%;
  text-align: left;
  font-size: 36px;
  color: #535353;
  font-weight: 800;
  height: auto;
  padding: 30px 0px 0px;
  margin: 0px;
}
.text__vLfi6 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vLfi6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__kMX {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kMX {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.heroImage {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 750px;
  max-height: 400px;
  flex-shrink: 0;
}
.heroImage > picture > img {
  object-fit: cover;
}
.heroImage > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroImage {
    width: 333px;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
.paragraph1 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__z6Y0 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__z6Y0 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image1 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
}
.image1 > picture > img {
  object-fit: cover;
}
.image1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image1 {
    object-fit: contain;
    height: auto;
    width: 333px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.paragraph2 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph2 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 750px;
  }
}
.link__atTjL {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__atTjL {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image2 {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 750px;
  max-height: 400px;
  flex-shrink: 0;
}
.image2 > picture > img {
  object-fit: cover;
}
.image2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image2 {
    height: auto;
    width: 333px;
    max-width: 100%;
    max-height: 300px;
    flex-shrink: 0;
  }
}
.paragraph3 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__znWI {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__znWI {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image3 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
}
.image3 > picture > img {
  object-fit: cover;
}
.image3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image3 {
    object-fit: contain;
    height: auto;
    width: 333px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.paragraph4 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__xYrZl {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xYrZl {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image4 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
}
.image4 > picture > img {
  object-fit: cover;
}
.image4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image4 {
    object-fit: contain;
    height: auto;
    width: 333px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image4 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .image4 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.paragraph5 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__ps6YD {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ps6YD {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image5 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
}
.image5 > picture > img {
  object-fit: cover;
}
.image5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image5 {
    height: auto;
    width: 333px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
.paragraph6 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__qWpr0 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qWpr0 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image6 {
  width: 750px;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image6 {
    height: auto;
    width: 333px;
    max-width: 100%;
    max-height: 400px;
    flex-shrink: 0;
  }
}
.paragraph7 {
  position: relative;
  width: 750px;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paragraph7 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.link__emJw0 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__emJw0 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.image7 {
  object-fit: cover;
  max-width: 100%;
  width: 750px;
  height: auto;
  max-height: 400px;
  flex-shrink: 0;
}
.image7 > picture > img {
  object-fit: cover;
}
.image7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .image7 {
    height: auto;
    width: 333px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__iyJs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.divlpPomBox135 {
  background: rgba(255, 255, 255, 1);
  width: 649px;
  height: 236px;
  display: block;
  margin-right: 0px;
  flex-shrink: 0;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .divlpPomBox135 {
    width: 631px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .divlpPomBox135 {
    display: none;
  }
}
.divlpPomText136 {
  width: 649px;
  display: block;
  position: absolute;
  top: 7px;
  left: 41px;
  bottom: 187px;
}
.clickHereToLearnMoreOrderSparqZeroToday {
  position: absolute;
  top: -3px;
  left: -82px;
  width: 726px;
  height: 25px;
  transform: translate(-0.031999999999996476px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}
.link___0LmMp {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 0px;
  color: rgba(0, 139, 187, 1);
}
@media (max-width: 1024px) {
  .link___0LmMp {
    font-size: 22px;
  }
}
.divlpPomText137 {
  width: 267px;
  display: block;
  position: absolute;
  top: 49px;
  left: 222px;
  bottom: 149px;
}
.fastSameDayShipping {
  position: absolute;
  top: 0px;
  left: 33px;
  width: 201px;
  height: 20px;
  transform: translate(0.45300000000000296px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__o3N39 {
  position: relative;
  color: #000000;
  font-size: 17px;
  font-weight: 500;
}
.alpPomButton138 {
  background: var(--token-N4TLOIIXy);
  transform: translate(0px, -0.5px);
  width: 218px;
  height: 56px;
  display: block;
  position: absolute;
  top: 111px;
  left: 41px;
  text-align: center;
  border-radius: 5px;
}
.claimFreePods {
  position: absolute;
  top: 19px;
  left: 40px;
  width: 139px;
  height: 16px;
  transform: translate(-0.06300000000000239px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__zNhx {
  color: #ffffff;
}
.divlpPomBox139 {
  background: rgba(0, 0, 0, 1);
  transform: translate(0px, -0.5px);
  width: 3px;
  height: 89px;
  display: block;
  position: absolute;
  top: 94px;
  left: 354px;
}
._100000HappyCustomersInStockShipsNow {
  position: absolute;
  top: 101px;
  left: 421px;
  width: 236px;
  height: 41px;
  transform: translate(0.10899999999998045px, 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text___4UCxj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 232px;
  text-align: center;
  font-size: 17px;
  color: #000000;
  min-width: 0;
}
@media (max-width: 1024px) {
  .text___4UCxj {
    font-size: 16px;
    max-width: 210px;
    width: 100%;
    margin-bottom: 18px;
    text-align: center;
    min-width: 0;
  }
}
.div {
  transform: translate(0px, -0.5px);
  width: 131px;
  height: 26px;
  display: block;
  position: absolute;
  top: 141px;
  left: 473px;
  overflow: hidden;
}
._4E8Df8335StarReviews103N00Q000000000000028Png {
  background: url("/plasmic/feed_presell_ai/images/_4E8Df8335StarReviews103N00Q000000000000028Png.png") 0px 0px / 131px 26px no-repeat;
  width: 131px;
  height: 26px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 1024px) {
  ._4E8Df8335StarReviews103N00Q000000000000028Png {
    height: 32px;
    top: 4px;
  }
}
.link__lntat {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  text-decoration-line: underline;
  font-weight: 700;
  color: var(--token-yahe9PI72);
  padding-bottom: 15px;
  font-size: 18px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lntat {
    display: block;
  }
}
.link__ogQ80 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  padding-bottom: 15px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ogQ80 {
    display: block;
  }
}
.text__jQkx7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 17px;
  color: #000000;
  font-weight: 400;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jQkx7 {
    display: block;
  }
}
.img___4HXuc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 112px;
  height: 21px;
  margin-bottom: 15px;
  flex-shrink: 0;
  display: none !important;
}
.img___4HXuc > picture > img {
  object-fit: cover;
}
.img___4HXuc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4HXuc {
    display: inline-block !important;
  }
}
.link__yX9KC {
  position: relative;
  background: var(--token-4EShhbvE5);
  color: #ffffff;
  font-weight: 600;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-bottom: 15px;
  text-align: center;
  align-self: center;
  display: none;
  border-radius: 5px;
  padding: 15px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yX9KC {
    display: block;
  }
}
.head__qQEd1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oy9IU {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  margin-bottom: 0px;
  align-self: center;
  min-width: 0;
  padding: 15px 8px;
}
.link__pmkXc {
  position: relative;
  display: flex;
  align-self: center;
}
.link__wSaym {
  display: flex;
}
.img___0Zho {
  object-fit: cover;
  max-width: 100%;
  width: 266px;
  align-self: center;
  flex-shrink: 0;
}
.img___0Zho > picture > img {
  object-fit: cover;
}
.img___0Zho > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___0Zho {
    width: 266px;
    flex-shrink: 0;
  }
}
