.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
}
@media (max-width: 1024px) {
  .root {
    display: flex;
    flex-direction: column;
    background: #eaeaea;
    padding-bottom: 440px;
  }
}
@media (max-width: 1024px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 1024px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-bottom: 0px;
  }
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-bottom: 25px;
  min-width: 0;
}
@media (max-width: 1024px) {
  .httpApiFetcher:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
  }
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xhsS {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1029px;
  max-width: 100%;
  align-self: stretch;
  background: #eaeaea;
  padding-top: 0px;
  left: 0px;
  top: 0px;
  margin-right: 0px;
}
@media (max-width: 1440px) {
  .freeBox__xhsS {
    height: 899px;
    padding-bottom: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__xhsS {
    height: 925px;
    position: relative;
    left: auto;
    top: auto;
    align-self: stretch;
    z-index: 1;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    background: #eaeaea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xhsS {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 891px;
  }
}
.freeBox__o0Xt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 0px;
  min-width: 0;
  padding: 15px 10px;
}
.img__aA2H {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img__aA2H > picture > img {
  object-fit: cover;
}
.img__aA2H > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__l1GHc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__l1GHc > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1440px) {
  .columns__l1GHc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1GHc {
    padding-bottom: 0px;
    padding-top: 8px;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__l1GHc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4RWm5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__nA7Ai {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 20px;
}
.columns__nA7Ai > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns__nA7Ai > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 5 / 12);
}
.columns__nA7Ai > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 7 / 12);
}
.columns__nA7Ai > :global(.__wab_flex-container) > *,
.columns__nA7Ai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nA7Ai > :global(.__wab_flex-container) > picture > img,
.columns__nA7Ai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nA7Ai {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nA7Ai > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nA7Ai > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nA7Ai > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 6 / 12);
  }
}
.column__cGcZq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1440px) {
  .column__cGcZq {
    padding-right: 0px;
  }
}
@media (max-width: 1024px) {
  .column__cGcZq {
    padding-right: 38px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cGcZq {
    padding-right: 0px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
}
.img__fGtp5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 196px;
  height: 175px;
  margin-right: 0px;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 10px;
}
.img__fGtp5 > picture > img {
  object-fit: cover;
}
.img__fGtp5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__fGtp5 {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fGtp5 {
    align-self: flex-start;
    width: 170px;
    margin-left: 0px;
  }
}
.column__nTBu0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
@media (max-width: 1440px) {
  .column__nTBu0 {
    padding-left: 31px;
  }
}
@media (max-width: 1024px) {
  .column__nTBu0 {
    padding-left: 3px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nTBu0 {
    padding-bottom: 0px;
  }
}
.text__op1Z7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  font-weight: 800;
  color: #000000;
  padding-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__op1Z7 {
    display: none;
  }
}
.text___8D1YK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8D1YK {
    display: none;
  }
}
.text__u1WhW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u1WhW {
    display: block;
  }
}
.text__vJdSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vJdSs {
    display: block;
  }
}
.text___5XdCo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5XdCo {
    font-size: 9px;
    font-weight: 600;
  }
}
.columns__ysbXk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ysbXk > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (max-width: 1440px) {
  .columns__ysbXk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ysbXk {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ysbXk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4N6M1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__a3MCw {
  display: block;
  position: relative;
  width: 38%;
  height: auto;
  max-width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-self: center;
  padding: 6px 0px 63px;
}
@media (max-width: 1440px) {
  .freeBox__a3MCw {
    width: 44%;
  }
}
@media (max-width: 1024px) {
  .freeBox__a3MCw {
    width: 64%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a3MCw {
    margin-right: 0px;
    align-self: center;
    width: 85%;
    position: relative;
    left: auto;
    top: auto;
    padding-bottom: 67px;
  }
}
.button__jeVfv {
  position: absolute;
  width: 44.79%;
  height: 50px;
  color: #ffffff;
  background: #f70000;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  left: 178px;
  top: 6px;
  z-index: 1;
  padding-bottom: 10px;
  display: block;
  border-radius: 10px;
  margin: 5px 0px;
}
@media (max-width: 1024px) {
  .button__jeVfv {
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jeVfv {
    left: 51px;
    top: 13px;
    width: 70%;
    display: block;
    margin: 0px 0px 5px;
  }
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 675px;
  height: 533px;
  max-width: 100%;
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 20px 0px 0px;
}
@media (max-width: 1440px) {
  .form {
    height: 436px;
    padding-bottom: 0px;
    background: #ffffff;
    width: 624px;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .form {
    margin-top: 46px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .form {
    padding-top: 0px;
    height: 460px;
    margin-top: 41px;
    flex-shrink: 0;
  }
}
.text__o4C3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  padding-top: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__o4C3M {
    padding-top: 20px;
  }
}
.text__qDwa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
  min-width: 0;
}
.textInput__p474A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 60px;
  height: 60px;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .textInput__p474A:global(.__wab_instance) {
    height: 60px;
    margin-top: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .textInput__p474A:global(.__wab_instance) {
    height: 60px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__p474A:global(.__wab_instance) {
    margin-top: 38px;
    width: 350px;
  }
}
.svg___9QvN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__saY0E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput___0TAi9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .textInput___0TAi9:global(.__wab_instance) {
    height: 60px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput___0TAi9:global(.__wab_instance) {
    width: 350px;
  }
}
.svg__an9V4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fmJpS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput__dzeZj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  height: 60px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__dzeZj:global(.__wab_instance) {
    width: 350px;
  }
}
.svg__ixBrq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___8VoXy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__pWaS5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 10px;
  height: 60px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .button__pWaS5:global(.__wab_instance) {
    height: 60px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pWaS5:global(.__wab_instance) {
    margin-top: 2px;
    width: 350px;
  }
}
.svg__zJoZz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pdsJ0 {
  font-size: 20px;
}
.svg__vyOmG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lCs17 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 25px;
  text-align: center;
  color: #666666;
  font-size: 12px;
  padding-top: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lCs17 {
    padding-top: 5px;
    margin-top: 15px;
  }
}
.freeBox__dEoA {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  align-self: center;
  background: #ffffff;
  min-width: 0;
  display: none;
  padding: 50px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dEoA {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img___9YjWs {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img___9YjWs > picture > img {
  object-fit: cover;
}
.img___9YjWs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
