@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-AWPY7vRP9: 1px;
  --plasmic-token-unnamed-style-token: var(--token-AWPY7vRP9);
}

.plasmic_default_styles {
  --mixin-YbkZxx3AJqD_font-family: "Inter", sans-serif;
  --mixin-YbkZxx3AJqD_font-size: 16px;
  --mixin-YbkZxx3AJqD_font-weight: 400;
  --mixin-YbkZxx3AJqD_font-style: normal;
  --mixin-YbkZxx3AJqD_color: #535353;
  --mixin-YbkZxx3AJqD_text-align: left;
  --mixin-YbkZxx3AJqD_text-transform: none;
  --mixin-YbkZxx3AJqD_line-height: 1.5;
  --mixin-YbkZxx3AJqD_letter-spacing: normal;
  --mixin-YbkZxx3AJqD_white-space: pre-wrap;
  --mixin-YbkZxx3AJqD_user-select: text;
  --mixin-YbkZxx3AJqD_text-decoration-line: none;
  --mixin-YbkZxx3AJqD_text-overflow: clip;
  --mixin-7JiB996f8qP_color: #000000;
  --mixin-7JiB996f8qP_font-weight: 900;
  --mixin-7JiB996f8qP_font-size: 72px;
  --mixin-7JiB996f8qP_line-height: 1;
  --mixin-7JiB996f8qP_letter-spacing: -4px;
  --mixin-7JiB996f8qP_white-space: pre-wrap;
  --mixin-xe3ckcS1oa1_color: #000000;
  --mixin-xe3ckcS1oa1_font-size: 48px;
  --mixin-xe3ckcS1oa1_font-weight: 700;
  --mixin-xe3ckcS1oa1_letter-spacing: -1px;
  --mixin-xe3ckcS1oa1_line-height: 1.1;
  --mixin-xe3ckcS1oa1_white-space: pre-wrap;
  --mixin-44pbvcx1vvg_color: #0070f3;
  --mixin-44pbvcx1vvg_white-space: pre-wrap;
  --mixin-gLqvaz3dePR_color: #000000;
  --mixin-gLqvaz3dePR_font-size: 32px;
  --mixin-gLqvaz3dePR_font-weight: 600;
  --mixin-gLqvaz3dePR_letter-spacing: -0.8px;
  --mixin-gLqvaz3dePR_line-height: 1.2;
  --mixin-gLqvaz3dePR_white-space: pre-wrap;
  --mixin-rkC39LbsiMz_color: #000000;
  --mixin-rkC39LbsiMz_font-size: 24px;
  --mixin-rkC39LbsiMz_font-weight: 600;
  --mixin-rkC39LbsiMz_letter-spacing: -0.5px;
  --mixin-rkC39LbsiMz_line-height: 1.3;
  --mixin-rkC39LbsiMz_white-space: pre-wrap;
  --mixin-DUCGbkd4gFH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DUCGbkd4gFH_border-bottom-color: #dddddd;
  --mixin-DUCGbkd4gFH_border-bottom-style: solid;
  --mixin-DUCGbkd4gFH_border-bottom-width: 1px;
  --mixin-DUCGbkd4gFH_border-left-color: #dddddd;
  --mixin-DUCGbkd4gFH_border-left-style: solid;
  --mixin-DUCGbkd4gFH_border-left-width: 1px;
  --mixin-DUCGbkd4gFH_border-right-color: #dddddd;
  --mixin-DUCGbkd4gFH_border-right-style: solid;
  --mixin-DUCGbkd4gFH_border-right-width: 1px;
  --mixin-DUCGbkd4gFH_border-top-color: #dddddd;
  --mixin-DUCGbkd4gFH_border-top-style: solid;
  --mixin-DUCGbkd4gFH_border-top-width: 1px;
  --mixin-DUCGbkd4gFH_border-bottom-left-radius: 3px;
  --mixin-DUCGbkd4gFH_border-bottom-right-radius: 3px;
  --mixin-DUCGbkd4gFH_border-top-left-radius: 3px;
  --mixin-DUCGbkd4gFH_border-top-right-radius: 3px;
  --mixin-DUCGbkd4gFH_font-family: "Inconsolata";
  --mixin-DUCGbkd4gFH_padding-bottom: 1px;
  --mixin-DUCGbkd4gFH_padding-left: 4px;
  --mixin-DUCGbkd4gFH_padding-right: 4px;
  --mixin-DUCGbkd4gFH_padding-top: 1px;
  --mixin-DUCGbkd4gFH_white-space: pre-wrap;
  --mixin-6zMI3pXd4ao_border-left-color: #dddddd;
  --mixin-6zMI3pXd4ao_border-left-style: solid;
  --mixin-6zMI3pXd4ao_border-left-width: 3px;
  --mixin-6zMI3pXd4ao_color: #888888;
  --mixin-6zMI3pXd4ao_padding-left: 10px;
  --mixin-6zMI3pXd4ao_white-space: pre-wrap;
  --mixin-wR83DCygHbx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-wR83DCygHbx_border-bottom-color: #dddddd;
  --mixin-wR83DCygHbx_border-bottom-style: solid;
  --mixin-wR83DCygHbx_border-bottom-width: 1px;
  --mixin-wR83DCygHbx_border-left-color: #dddddd;
  --mixin-wR83DCygHbx_border-left-style: solid;
  --mixin-wR83DCygHbx_border-left-width: 1px;
  --mixin-wR83DCygHbx_border-right-color: #dddddd;
  --mixin-wR83DCygHbx_border-right-style: solid;
  --mixin-wR83DCygHbx_border-right-width: 1px;
  --mixin-wR83DCygHbx_border-top-color: #dddddd;
  --mixin-wR83DCygHbx_border-top-style: solid;
  --mixin-wR83DCygHbx_border-top-width: 1px;
  --mixin-wR83DCygHbx_border-bottom-left-radius: 3px;
  --mixin-wR83DCygHbx_border-bottom-right-radius: 3px;
  --mixin-wR83DCygHbx_border-top-left-radius: 3px;
  --mixin-wR83DCygHbx_border-top-right-radius: 3px;
  --mixin-wR83DCygHbx_font-family: "Inconsolata";
  --mixin-wR83DCygHbx_padding-bottom: 3px;
  --mixin-wR83DCygHbx_padding-left: 6px;
  --mixin-wR83DCygHbx_padding-right: 6px;
  --mixin-wR83DCygHbx_padding-top: 3px;
  --mixin-wR83DCygHbx_white-space: pre-wrap;
  --mixin-C7_13YrcGKpy_display: flex;
  --mixin-C7_13YrcGKpy_flex-direction: column;
  --mixin-C7_13YrcGKpy_align-items: stretch;
  --mixin-C7_13YrcGKpy_justify-content: flex-start;
  --mixin-C7_13YrcGKpy_list-style-position: outside;
  --mixin-C7_13YrcGKpy_padding-left: 40px;
  --mixin-C7_13YrcGKpy_position: relative;
  --mixin-C7_13YrcGKpy_list-style-type: disc;
  --mixin-C7_13YrcGKpy_white-space: pre-wrap;
  --mixin-dgboafhEwCdP_display: flex;
  --mixin-dgboafhEwCdP_flex-direction: column;
  --mixin-dgboafhEwCdP_align-items: stretch;
  --mixin-dgboafhEwCdP_justify-content: flex-start;
  --mixin-dgboafhEwCdP_list-style-position: outside;
  --mixin-dgboafhEwCdP_padding-left: 40px;
  --mixin-dgboafhEwCdP_position: relative;
  --mixin-dgboafhEwCdP_list-style-type: decimal;
  --mixin-dgboafhEwCdP_white-space: pre-wrap;
  --mixin-JMNTdIXpcY7V_color: #000000;
  --mixin-JMNTdIXpcY7V_font-size: 20px;
  --mixin-JMNTdIXpcY7V_font-weight: 600;
  --mixin-JMNTdIXpcY7V_letter-spacing: -0.3px;
  --mixin-JMNTdIXpcY7V_line-height: 1.5;
  --mixin-JMNTdIXpcY7V_white-space: pre-wrap;
  --mixin-t_GXdV5w0rdl_color: #000000;
  --mixin-t_GXdV5w0rdl_font-size: 16px;
  --mixin-t_GXdV5w0rdl_font-weight: 600;
  --mixin-t_GXdV5w0rdl_line-height: 1.5;
  --mixin-t_GXdV5w0rdl_white-space: pre-wrap;
  --mixin-1SW9VFI-gBZM_color: #3291ff;
  --mixin-1SW9VFI-gBZM_white-space: pre-wrap;
  --mixin-ThO6kZAayU8A_white-space: pre-wrap;
  --mixin-eSQgrHvsrXAB_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-YbkZxx3AJqD_font-family);
  font-size: var(--mixin-YbkZxx3AJqD_font-size);
  font-weight: var(--mixin-YbkZxx3AJqD_font-weight);
  font-style: var(--mixin-YbkZxx3AJqD_font-style);
  color: var(--mixin-YbkZxx3AJqD_color);
  text-align: var(--mixin-YbkZxx3AJqD_text-align);
  text-transform: var(--mixin-YbkZxx3AJqD_text-transform);
  line-height: var(--mixin-YbkZxx3AJqD_line-height);
  letter-spacing: var(--mixin-YbkZxx3AJqD_letter-spacing);
  white-space: var(--mixin-YbkZxx3AJqD_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-7JiB996f8qP_color);
  font-weight: var(--mixin-7JiB996f8qP_font-weight);
  font-size: var(--mixin-7JiB996f8qP_font-size);
  line-height: var(--mixin-7JiB996f8qP_line-height);
  letter-spacing: var(--mixin-7JiB996f8qP_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-xe3ckcS1oa1_color);
  font-size: var(--mixin-xe3ckcS1oa1_font-size);
  font-weight: var(--mixin-xe3ckcS1oa1_font-weight);
  letter-spacing: var(--mixin-xe3ckcS1oa1_letter-spacing);
  line-height: var(--mixin-xe3ckcS1oa1_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-44pbvcx1vvg_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-gLqvaz3dePR_color);
  font-size: var(--mixin-gLqvaz3dePR_font-size);
  font-weight: var(--mixin-gLqvaz3dePR_font-weight);
  letter-spacing: var(--mixin-gLqvaz3dePR_letter-spacing);
  line-height: var(--mixin-gLqvaz3dePR_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-rkC39LbsiMz_color);
  font-size: var(--mixin-rkC39LbsiMz_font-size);
  font-weight: var(--mixin-rkC39LbsiMz_font-weight);
  letter-spacing: var(--mixin-rkC39LbsiMz_letter-spacing);
  line-height: var(--mixin-rkC39LbsiMz_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-DUCGbkd4gFH_font-family);
  border-radius: var(--mixin-DUCGbkd4gFH_border-top-left-radius)
    var(--mixin-DUCGbkd4gFH_border-top-right-radius)
    var(--mixin-DUCGbkd4gFH_border-bottom-right-radius)
    var(--mixin-DUCGbkd4gFH_border-bottom-left-radius);
  padding: var(--mixin-DUCGbkd4gFH_padding-top)
    var(--mixin-DUCGbkd4gFH_padding-right)
    var(--mixin-DUCGbkd4gFH_padding-bottom)
    var(--mixin-DUCGbkd4gFH_padding-left);
  border-top: var(--mixin-DUCGbkd4gFH_border-top-width)
    var(--mixin-DUCGbkd4gFH_border-top-style)
    var(--mixin-DUCGbkd4gFH_border-top-color);
  border-right: var(--mixin-DUCGbkd4gFH_border-right-width)
    var(--mixin-DUCGbkd4gFH_border-right-style)
    var(--mixin-DUCGbkd4gFH_border-right-color);
  border-bottom: var(--mixin-DUCGbkd4gFH_border-bottom-width)
    var(--mixin-DUCGbkd4gFH_border-bottom-style)
    var(--mixin-DUCGbkd4gFH_border-bottom-color);
  border-left: var(--mixin-DUCGbkd4gFH_border-left-width)
    var(--mixin-DUCGbkd4gFH_border-left-style)
    var(--mixin-DUCGbkd4gFH_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-6zMI3pXd4ao_color);
  padding-left: var(--mixin-6zMI3pXd4ao_padding-left);
  border-left: var(--mixin-6zMI3pXd4ao_border-left-width)
    var(--mixin-6zMI3pXd4ao_border-left-style)
    var(--mixin-6zMI3pXd4ao_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-wR83DCygHbx_font-family);
  border-radius: var(--mixin-wR83DCygHbx_border-top-left-radius)
    var(--mixin-wR83DCygHbx_border-top-right-radius)
    var(--mixin-wR83DCygHbx_border-bottom-right-radius)
    var(--mixin-wR83DCygHbx_border-bottom-left-radius);
  padding: var(--mixin-wR83DCygHbx_padding-top)
    var(--mixin-wR83DCygHbx_padding-right)
    var(--mixin-wR83DCygHbx_padding-bottom)
    var(--mixin-wR83DCygHbx_padding-left);
  border-top: var(--mixin-wR83DCygHbx_border-top-width)
    var(--mixin-wR83DCygHbx_border-top-style)
    var(--mixin-wR83DCygHbx_border-top-color);
  border-right: var(--mixin-wR83DCygHbx_border-right-width)
    var(--mixin-wR83DCygHbx_border-right-style)
    var(--mixin-wR83DCygHbx_border-right-color);
  border-bottom: var(--mixin-wR83DCygHbx_border-bottom-width)
    var(--mixin-wR83DCygHbx_border-bottom-style)
    var(--mixin-wR83DCygHbx_border-bottom-color);
  border-left: var(--mixin-wR83DCygHbx_border-left-width)
    var(--mixin-wR83DCygHbx_border-left-style)
    var(--mixin-wR83DCygHbx_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-C7_13YrcGKpy_display);
  flex-direction: var(--mixin-C7_13YrcGKpy_flex-direction);
  align-items: var(--mixin-C7_13YrcGKpy_align-items);
  justify-content: var(--mixin-C7_13YrcGKpy_justify-content);
  list-style-position: var(--mixin-C7_13YrcGKpy_list-style-position);
  padding-left: var(--mixin-C7_13YrcGKpy_padding-left);
  position: var(--mixin-C7_13YrcGKpy_position);
  list-style-type: var(--mixin-C7_13YrcGKpy_list-style-type);
  flex-column-gap: var(--mixin-C7_13YrcGKpy_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-dgboafhEwCdP_display);
  flex-direction: var(--mixin-dgboafhEwCdP_flex-direction);
  align-items: var(--mixin-dgboafhEwCdP_align-items);
  justify-content: var(--mixin-dgboafhEwCdP_justify-content);
  list-style-position: var(--mixin-dgboafhEwCdP_list-style-position);
  padding-left: var(--mixin-dgboafhEwCdP_padding-left);
  position: var(--mixin-dgboafhEwCdP_position);
  list-style-type: var(--mixin-dgboafhEwCdP_list-style-type);
  flex-column-gap: var(--mixin-dgboafhEwCdP_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-JMNTdIXpcY7V_color);
  font-size: var(--mixin-JMNTdIXpcY7V_font-size);
  font-weight: var(--mixin-JMNTdIXpcY7V_font-weight);
  letter-spacing: var(--mixin-JMNTdIXpcY7V_letter-spacing);
  line-height: var(--mixin-JMNTdIXpcY7V_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-t_GXdV5w0rdl_color);
  font-size: var(--mixin-t_GXdV5w0rdl_font-size);
  font-weight: var(--mixin-t_GXdV5w0rdl_font-weight);
  line-height: var(--mixin-t_GXdV5w0rdl_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-1SW9VFI-gBZM_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
